.container {

	border: 2px solid black;
	font-size: 0;
	width: 500px;
	height: 500px;
	margin: 50px auto 20px auto;
}

.box {
	display: inline-block;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.fill {
	background-color: blue;
}

button {
	padding: 5px;
	display: inline-block;
	margin: auto;
}
 #buttonbox {
 	margin: auto;
 	text-align: center;

 }

 .clickedon {
 	font-weight: bold;
 	background-color: black;
 	color: white;

 }

 .instructions {
 	font-family: arial;
 	text-align: center;
 }

 h1 {
 	text-decoration: underline;
 }